{% extends 'base.html' %}

{% block title %}Каталог новостей Info to Go{% endblock %}

{% block content %}
    {% include "include/search_form.html" %}
    <h1 class="text-center mb-4"></h1>

    <div class="row">
        {% include "include/paginator.html" with page=page_obj %}

        <!-- Цикл для вывода статей в две колонки -->
        {% for article in page_obj %}
            <div class="col-lg-12 mb-2">
                {% include "include/article_preview.html" with article=article %}
            </div>
        {% endfor %}

        {% include "include/paginator.html" with page=page_obj %}
    </div>
{% endblock %}
