<ul class="navbar-nav">
    {% for item in menu %}
        <li class="nav-item">
            <a class="nav-link" href="{% url item.url_name %}">
                {% if item.title == "avatar" %}
                    <img src="{{ item.avatar_url }}"
                         class="rounded-circle me-1"
                         width="20"
                         height="20"
                         alt="Аватар"
                       onerror="this.src='/media/avatars/default-avatar.png'">
                    {{ item.username }}
                {% else %}
                    {{ item.title }}
                {% endif %}
            </a>
        </li>
        {% if not forloop.last %}
            <li class="nav-item"><hr class="dropdown-divider"/></li>
        {% endif %}
    {% endfor %}

    {% if user.is_authenticated %}
        <!-- Иконка профиля для мобильных устройств -->
        <li class="nav-item d-lg-none">
            <a class="nav-link" href="{% url 'news:profile' %}">
                <i class="bi bi-person-circle"></i>
            </a>
        </li>

        <li class="nav-item">
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-link">Выйти</button>
            </form>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Войти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Регистрация</a>
        </li>
    {% endif %}
</ul>